/Projeto/NewLife_Prototype/nbproject/private/
/Projeto/NewLife.Business/nbproject/private/
/Projeto/NewLife.DAO/nbproject/private/
/Projeto/NewLife.Comuns/nbproject/private/
/Programa/NewLife.Business/nbproject/private/
/Programa/NewLife.Comuns/nbproject/private/
/Programa/NewLife.DAO/nbproject/private/
/Programa/NewLife.Interface/nbproject/private/
/Programa/NewLife.DAO/build/
/Programa/NewLife.Comuns/build/
/Programa/NewLife.Business/build/
/Programa/NewLife.Interface/build/
/Programa/NewLife.Comuns/dist/
/Programa/NewLife.Business/dist/
/Programa/NewLife.DAO/dist/